{% extends 'layouts/main.html' %}
{% block title %}Request Feature{% endblock %}
{% block content %}
<div class="request-card">
    <form action="{{ url_for('home.create_request')}}" method=post>
        {{ form.hidden_tag() }}
        <h2 class="request-header">Submit a Feature Request</h2>
        <div class="form-group">
          <label>Title</label>
          {{ form.title(class_='form-control') }}
        </div>
        <div class="form-group">
            <label>Description</label>
          {{ form.description(class_='form-control') }}
        </div>
        <div class="form-group">
            <label>Client</label>
          {{ form.client(class_='form-control') }}
        </div>
        <div class="form-group">
            <label>Client Priority</label>
          {{ form.client_priority(class_='form-control') }}
        </div>
        <div class="form-group">
            <label>Target Date</label>
          {{ form.target_date(class_='form-control') }}
        </div>
        <div class="form-group">
            <label>Product Area</label>
          {{ form.product_area(class_='form-control') }}
        </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}