{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form action="{{ url_for('auth.login')}}" method="POST">
      {{ form.hidden_tag() }}
     <div class="login">
      <div class="login-screen">
        <div class="app-title">
          <h3 class="form-heading">Login <a href="/" title="Back to homepage"></a></h3>
        </div>
        <div class="login-form">
          <div class="form-group">
            {{ form.email(class_='form-control', placeholder = form.email.label.text, required = true, autofocus = true) }}
          </div>
          <div class="form-group">
            {{ form.password(class_='form-control last-input', placeholder = form.password.label.text, required = true) }}
          </div>
          <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
        </div>
      </div>
     </div>
  </form>
{% endblock %}
